body { margin: auto; width: 600px; }
header { padding-right: 30px; }
h1 { text-align: center; }
h2 { text-align: center; margin-bottom: 15 px; margin-top: 0px; }
img { margin-left: 23px; margin-right: 23px; margin-bottom: 10px; width: 450px; height: 450px; }
.menu { display: flex; justify-content: space-between; }
.content-block { margin: auto; width: 500px; border: 1px solid; padding: 20px; }
.content-text { padding-left: 24px; padding-right: 24px; }
.categories-list { margin: auto; width: 525px; height: 40px; border: 1px solid; margin-bottom: 5px; margin-top: 20px;
    display: flex; flex-direction: row; overflow: hidden; overflow-x: auto; padding-left: 10px;
    padding-top: 5px; padding-right: 5px; padding-bottom: 5px; }
.categories-item { margin-right: 25px;}
.category-link { text-decoration: none; font-size: 20px; }
.create-category-input { width: 231px; }
.copy-post-form { padding-left: 24px; }
.evaluation-form { margin: auto; margin-left: 23px; margin-right: 23px; margin-bottom: 10px; }
.submit-button { width: 98px; }
.create-post-small-input { width: 261px; margin-bottom: 5px; }
.create-post-big-input { width: 534px; margin-bottom: 5px; }
.create-post-submit { width: 542px; }
.copy-post-submit { width: 450px; margin-bottom: 10px; }
.paragraph-title { text-align: center; }
.create-user-input { width: 230px; }
.paragraph-title-big { text-align: center; font-size: 24px; }
.overall-indent-left { margin-left: 29px; }
.overall-indent-right { margin-right: 29px; }
.overall-indent-bottom { margin-bottom: 20px; }
.subscribe-input { width: 281px; }
.form-space { margin-top: 20px; }
.action-menu-item { display: inline; }
.action-menu-item:link { color: #497DDD; border-bottom: 1px dashed; }
.action-menu-item:visited { color: #EF7D55; }
.action-menu-item:hover { color: #154088; border-bottom: .07em solid; }
.action-menu-item:active { color: #497DDD; border-bottom: 1px dashed; }
.users-list { text-align: center; }
.edit-post-form { margin: auto; width: 500px; border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid;
    padding-left: 20px; padding-right: 20px; padding-bottom: 20px; padding-top: 5px; }
.edit-post-button { width: 450px; margin-left: 24px; }
.edit-post-small-input { width: 215px; margin-bottom: 4px; }
.edit-post-big-input { width: 442px; margin-bottom: 4px; }
.edit-post-submit { width: 450px; }
.hide { display: none; }
.space { margin-bottom: 40px; }
.register-form { margin-left: 140px; margin-bottom: 20px; }
.register-input { width: 300px; height: 25px; margin-bottom: 2px; font-size: 18px; }
.register-submit { width: 308px; height: 30px; font-size: 18px; }
.subscribe-button { margin-left: 115px; width: 308px; height: 30px; font-size: 18px; }
.post-information { margin: auto; display: flex; justify-content: space-between; margin-top: 25px;  width: 530px;
    border-left: 1px solid; border-right: 1px solid; border-top: 1px solid; padding: 5px; }
.pagination { display: flex; justify-content: space-between; }
.comment-form { margin-top: 10px; margin-bottom: 10px; }
.comment-input { width: 448px; }
.comments { width: 500px; border: 1px solid; padding-left: 20px; padding-right: 20px; margin-bottom: 40px; margin-top: 10px; }