{% extends 'base.html' %}
{% block title %} {{ date }} {% endblock %}
{% block style %}
   {% include 'style.html' %}
{% endblock %}
{% block header %} {% include 'header.html' %} {% endblock %}
{% block body %}
    <hr><h1>{{ name }}</h1><hr>
    <div>
        {% include 'categories_list.html' %}
        <ul class="action-menu">
            <li class="action-menu-item" id="1">Создание поста</li> /
            <li class="action-menu-item" id="2">Подписка</li> /
            <li class="action-menu-item" id="3">Список подписчиков</li> /
            <li class="action-menu-item" id="4">Создание подкатегории</li>
        </ul>
    </div>

    <div class="form-space overall-indent-bottom">
    </div>

    <hr>

    {% for post in posts_list %}
        <div class="all-content-block">
            <div class="content-block" id="{{ post.id }}">
                <h2>{{ post.name }}</h2>
                <img src={{ post.content[0] }} alt="media">
                <p class="content-text">{{ post.content[1] }}</p>
                <form method="post" class="copy-post-form">
                    <input type="hidden" name="type" value="copy_post">
                    <input type="hidden" name="id" value="{{ post.id }}">
                    <input type="hidden" name="name" value="{{ post.name }}">
                    <button class="copy-post-submit" type="submit">Копировать</button>
                </form>
                <button class="edit-post-button" id="{{ post.id }}">Изменить</button>
            </div>
            {% include 'edit_post_form.html' %}
        </div>
    {% endfor %}

{% endblock %}

{% block script %} {% include 'js.html' %} {% endblock %}