{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block style %}
   {% include 'style.html' %}
{% endblock %}
{% block header %} {% include 'header.html' %} {% endblock %}
{% block body %}
    <hr><h1>Главная страница</h1>
    {% include 'categories_list.html' %}
    {% include 'create_category_form.html' %}
    {% for post in posts %}
        <div class="content-block space">
            <h2>{{ post.name }}</h2>
            <img src={{ post.content[0] }} alt="media">
            <p class="content-text">{{ post.content[1] }}</p>
        </div>
    {% endfor %}
{% endblock %}