let forms = {
    1: `{% include 'create_post_form.html' %}`,
    2: `{% include 'subscribe_form.html' %}`,
    3: `{% include 'subscribers_list.html' %}`,
    4: `<hr style="margin-bottom: 20px; ">` + `{% include 'create_category_form.html' %}`,
};

let formDiv = document.getElementsByClassName('form-space')[0];
let actionList = document.getElementsByClassName('action-menu')[0];
let options = actionList.getElementsByTagName('li');
for (let i=0; i < options.length; i++) {
    options[i].onclick = function(){formDiv.innerHTML = forms[i + 1];};
};

let data = document.getElementsByClassName('all-content-block');
for (let i=0; i < data.length; i++) {
    let content = data[i].getElementsByTagName('div');
    let post = content[0];
    let editForm = content[1];
    post.classList.add('space');
    editForm.classList.add('hide');
    let editButton = post.getElementsByClassName('edit-post-button')[0];
    let flag = 1;
    editButton.onclick = function() {
        if (flag) {
            post.classList.remove('space');
            editForm.classList.remove('hide');
            editForm.classList.add('space');
            flag = 0;
        } else {
            post.classList.add('space');
            editForm.classList.add('hide');
            editForm.classList.remove('space');
            flag = 1;
        };
    };
};